<!DOCTYPE html>
<html ng-app="office">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Front End Project</title>
<link rel="stylesheet" type="text/css" href="main.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="container" ng-controller="MainController">
 <div class="banner">
 <div class="register"><a href="#login">Login</a> or <a href="register">Register</a> to enjoy the full benefits of our site
 </div>
   <form ng-show=true ng-submit="onSubmit(theForm.$valid)"
         name="theForm"
         novalidate="novalidate">
       <table>
          <tr>
            <td><div class="lock"></div></td>
            <td>
       <div class="form-group">
       <input type="email" 
              placeholder="Your e-mail" 
              onfocus="this.placeholder = ''" 
              onblur="this.placeholder = 'Your e-mail'"
              ng-model-options="{updateOn: 'blur'}"
              required="required"
              ng-minlength="5"
              ng-model="form.email"
              size="15">
       </div>
       <div class="form-group">
       <input type="password"
              placeholder="Your password" 
              onfocus="this.placeholder = ''" 
              onblur="this.placeholder = 'Your password'"
              ng-model-options="{updateOn: 'blur'}"
              required="required"
              ng-minlength="5"
              ng-model="form.password"
              size="15">
            </div>
            </td>
            <td>
       <div class="GO">
       <div class="form-group">
        <input class="GO-button" type="Submit" value="GO">
       </div>  
       </div>  </td>
          </tr>
        </table>


   </form>

   <header class="office1">    
       <div class="banner-text"><p class="text-office"><span class="the-office">the</span>office</p></div>
   </header>
     <header class="floor1">    
       <div class="banner-text"><p class="text-office"><span class="the-office">the</span>floor</p></div>
   </header>
   <div class="top-strip" >
        <img class="left-arrow" src="./img/left_arrow_top_banner.png" onclick="plusDivs(-1,'left')">
        <img class="right-arrow" src="./img/right_arrow_top_banner.png" onclick="plusDivs(1,'right')">
   </div>
 </div>
    <img class="logo" src="./img/full-logo.png">
    
<div class="button-group">
    <div class="button-container">
        <div class="big-button"><p>01</p></div>
        <div class="inner-container">
        <p>{{content.text[0]}}</p>
        <div class="plus">
            <img src="img/plus_sign.png">
        </div>
        </div>
    </div>
    
    <div class="button-container1">
    <div class="big-button"><p>02</p></div>
    <div class="inner-container">
        <p>{{content.text[0]}}</p>
        <div class="plus">
            <img src="img/plus_sign.png">
        </div>
    </div>
</div>
</div>

<div class="button-group">
    <div class="button-container">
        <div class="big-button"><p>03</p></div>
        <div class="inner-container">
        <p>{{content.text[0]}}</p>
        <div class="plus">
            <img src="img/plus_sign.png">
        </div>
        </div>
    </div>
<div class="button-container1">
<div class="big-button"><p>04</p></div>
    <div class="inner-container">
    <p>{{content.text[0]}}</p>
    <div class="plus">
        <img src="img/plus_sign.png">
    </div>
    </div>
</div>
</div>

<div class="small-button-group">
    <div class="small-button-container">
        <p>{{content.text[1]}}</p>
        <div class="small-button"><img src="img/white_plus.png"></div>
    </div>
    <div class="small-button-container">
        <p>{{content.text[2]}}</p>
        <div class="small-button"><img src="img/white_plus.png"></div>
    </div>
</div>

<div class="small-button-group">
    <div class="small-button-container">
        <p>{{content.text[3]}}</p>
        <div class="small-button"><img src="img/white_plus.png"></div>
    </div>
    <div class="small-button-container">
        <p>{{content.text[4]}}</p>
        <div class="small-button"><img src="img/white_plus.png"></div>
    </div>
</div>
   
    <p class="more">view more</p>
    
<div class="slider">
    <div class="slider-left-corner"></div>
    <div class="slider-content">
        <p class="article">Article about one client</p>
        <div class="slider-pic"></div>
        <div class="slider-text">{{content.text[0]}}</div>    
    </div>
    <div class="slider-right-corner"></div>
</div>

</div>
<script src="./js/node_modules/angular/angular.min.js"></script>
<script src="./js/node_modules/angular-shims-placeholder/dist/angular-shims-placeholder.min.js"></script>
<script src="./js/bower_components/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
<script src="./js/main.js"></script>
</body>
</html>