<!DOCTYPE html>
<html ng-app="office">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Front End Project</title>
<link rel="stylesheet" type="text/css" href="main.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="container" ng-controller="MainController">
 <div class="banner">
<!--
  <div class="login">
   <form ng-submit="onSubmit(theForm.$valid)"
         name="theForm"
         novalidate="novalidate">
         <div class="lock"></div>
         <div class="text-inputs">
       <div class="form-group">
       <input type="email" 
              placeholder="Your e-mail" 
              onfocus="this.placeholder = ''" 
              onblur="this.placeholder = 'Your e-mail'"
              ng-model-options="{updateOn: 'blur'}"
              required="required"
              ng-minlength="5"
              ng-model="form.email">
       </div>
       <div class="form-group">
       <input type="password"
              placeholder="Your password" 
              onfocus="this.placeholder = ''" 
              onblur="this.placeholder = 'Your password'"
              ng-model-options="{updateOn: 'blur'}"
              required="required"
              ng-minlength="5"
              ng-model="form.password">
       </div>
       </div>
       <div class="GO">
       <div class="form-group">
        <input class="GO-button" type="Submit" value="GO">
       </div>  
       </div>  
   </form>
   </div>
-->
   <header class="office1">    
       <div class="banner-text"><p class="text-office"><span class="the-office">the</span>office</p></div>
   </header>
     <header class="floor1">    
       <div class="banner-text"><p class="text-office"><span class="the-office">the</span>floor</p></div>
   </header>
   <div class="top-strip" >
        <img class="left-arrow" src="./img/left_arrow_top_banner.png" onclick="plusDivs(-1,'left')">
        <img class="right-arrow" src="./img/right_arrow_top_banner.png" onclick="plusDivs(1,'right')">
   </div>
 </div>
    <img class="logo" src="./img/full-logo.png">
<div class="button-container">
<div class="big-button"><p>01</p></div>
<div class="inner-container">
    <p>Lorem</p>
<div class="plus">
    <img src="img/plus_sign.png">
</div>
</div>
</div>
<div class="button-container1">
<div class="big-button"><p>02</p></div>
<div class="inner-container">
    <p>Lorem</p>
<div class="plus">
    <img src="img/plus_sign.png">
</div>
    </div>
</div>
<div class="button-container">
<div class="big-button"><p>03</p></div>
<div class="inner-container">
        <p>Lorem</p>
<div class="plus">
    <img src="img/plus_sign.png">
</div>
    </div>
</div>
<div class="button-container1">
<div class="big-button"><p>04</p></div>
    <div class="inner-container">
    <p>Lorem</p>
<div class="plus">
    <img src="img/plus_sign.png">
</div>
    </div>
</div>
    <p class="more">view more</p>
<div class="slider">
    <img class="small-corner" src="./img/small-corner.png">
    <img class="large-corner" src="./img/big-corner.png">
<p class="article">Article about one client</p>
</div>
</div>
<script src="./js/node_modules/angular/angular.min.js"></script>
<script src="./js/node_modules/angular-shims-placeholder/dist/angular-shims-placeholder.min.js"></script>
<script src="./js/bower_components/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
<script src="./js/main.js"></script>
</body>
</html>