html {
    height: 100%;
}
body {
  width: 90%;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}

* {
    box-sizing: border-box;
}
/*IE and FF compatibility for placeholders*/
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

@media only screen and (min-width: 1024px) {
body{
    background-image: url('./img/background.png');
    height: 100%;
    min-width: 300px;
    max-width: 1200px;
    margin: 0 auto;
}
.container{
    background-image: url('./img/inner-background.png');
    margin : auto;
    width:68%;
    height: 100%;
    padding-left: 1.5%;
    padding-right: 1.5%;
}
.banner{
    margin : auto;
    width: 100%;
    height: 40%;
}
header {
    background: url(./img/top_banner_office.png) 0 bottom repeat-x;
    width: 100%;
    height: 100%;
    background-size: 100%;
}
.top-strip{
     background: url(./img/strip_top_banner.png);
     padding-bottom: 1%;
     height: 5%;
     margin: auto;
}

.left-arrow{
    padding-top: 1%;
    padding-left: 89%;
    height: 70%;
}
.right-arrow{
    padding-top: 1%;
    padding-left: 2%;
    height: 70%;
}
input{
    display: block;
}
form{
    width: 100%;
    float: right;
    border: 1px solid black;
}
.logo{
    display: block;
    margin-top: 10%;
    margin-bottom: 5%;
    height: 3%;
    margin-left: auto;
    margin-right: auto;
}
.big-button{
  margin-bottom: 11%;
  width:20%;
  height:100%;
  float:left;
  background-color:  #53B8C4; 
}

.button-content{
  margin-bottom: 2%;
  width:49%;
  height:10%;
  float:left;
  background-color:  white; 
}
.button-content1{
  margin-bottom: 2%;
  width:49%;
  height:10%;
  float:right;
  background-color:  white; 
}
.slider{
  margin-top: 20px;
  display: block;
  background-color:  white; 
  width: 100%;
  height:45%;
}
.login{
        float: right;
       background-color: white;
        width: 50%;
        height: 40%;
        border: 1px solid blue;
}

.GO-button{
    background:url('./img/GO-button-background.png');
    background-size: cover;
    border: none;
    width: 90%;
    height: 60px;
    cursor: pointer;
    color: transparent;
    vertical-align: bottom;/*add vertical align bottom*/
}
.text-inputs {
    width: 50%;
    float: left;
    padding: 15px;
    border: 1px solid red;
}
.GO {
    width: 39%;
    float: left;
    padding: 15px;
    border: 1px solid red;
}
.lock{
    float: left;
    background:url('./img/lock.png') 0 bottom repeat-x;
    width: 11%;
    height: 60px;
    }
input[type="email"],input[type="password"], textarea {

  background-color : #CCCCCC; 

}
}