@font-face {
    font-family: 'NeoSans'; 
    src: url('./fonts/neo-sans-light.ttf'); 
}

html, body, .floor1 {
    height: 100%;
}
body{
    background-image: url('./img/background.png');
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}
/*IE and FF compatibility for placeholders*/
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:  #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff;
}
.banner{
    margin :0px auto;
    width: 100%;
}
.container{
    background-image: url('./img/inner-background.png');
    margin :0px auto;
    width:65.3%;
    height: 200%;
    padding-left: 2.84%;
    padding-right: 2.84%;
}
/* office si floor trebuie sa le rescriu cu mixins, sunt identice
inafara de background*/
.floor1 {
    margin :0px auto;
    background: url('./img/top_banner_floor.png') 0 bottom repeat-x;
    width: 100%;
    height: 100%;
    background-size: 100%;
    padding-bottom: 50%;
}
.office1{
    margin :0px auto;
    background: url('./img/top_banner_office.png') 0 bottom repeat-x;
    width: 100%;
    height: 100%;
    background-size: 100%;
    padding-bottom: 50%;
}
.top-strip{
     background: url(./img/strip_top_banner.png);
     margin: auto;
}

.left-arrow{
    display: inline-block;
    padding-top: 1%;
    padding-left: 89%;
    height: 70%;
}
.right-arrow{
    display: inline-block;
    padding-top: 1%;
    padding-left: 2%;
    height: 70%;
}
input{
    display: block;
}
form{
    width: 100%;
    float: right;
    <!--border: 1px solid black;-->
}
.logo{
    display: block;
    margin-top: 10%;
    margin-bottom: 5%;
    height: 3%;
    margin-left: auto;
    margin-right: auto;
}

.big-button, .inner-container{
  display: table;
  width:30%;
  height:100%;
  float:left;
  background-color:  #53B8C4; 
}
.inner-container{
    width:70%;
    background-color: inherit;
}
.inner-container p{
    float: left;
    font-size: 10px !important;
    width: 90%;
}
.button-container, .button-container1{
  width:100%;
  height:12.20%;
  float:left;
  background-color:  white;
}
.button-container1{
  float:right;
}
.button-container p, .button-container1 p, .button-container .plus, .button-container1 .plus{
    text-align: center;
    display: table-cell;
	vertical-align: middle;
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    font-family : NeoSans ;
}
.plus{
    float: left;
    width:10%;
}
.button-group{
    padding: 4%;
    margin-bottom: 3%;
}
.small-button-group{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}
.small-button-container{
  display: inline-block;
  width:25%;
  height:5%;
  float:left;
  padding-top: 5%;
  padding-bottom: 5%
}
.small-button{
    float: left;
    background-color:  #53B8C4; 
}
.small-button-container p{
    float: left;
    margin : 0 !important;
    font-size: 16px !important;
}
.slider{
  margin-top: 20px;
  display: block;
  background-color:  white; 
  width: 100%;
  height:15%;
}
.slider > div{
float: left;
}
.slider-left-corner{
    background: url('./img/small-corner.png') 0 bottom repeat-x;
    width: 10%;
    height: 20%;
    background-size: 100%;
}
.slider-right-corner{
    background: url('./img/big-corner.png') 0 bottom repeat-x;
    width: 20%;
    background-size: 100%;
    padding-bottom: 20.5%;
    margin-top: 29px;
}

.slider-content{
    width: 70%;
}
.slider-content > div{
    float: left;
}
.slider-pic{
    display: inline-block !important;
    background: url('./img/top_banner_floor.png') 0 bottom repeat-x;
    width: 30%;
    height: 100%;
    background-size: 100%;
    padding-bottom: 20%;  
}
.slider-text{
    display: inline-block !important;
    font-size: 10px !important;
    float: left;
}
.login{
        float: right;
       background-color: white;
        width: 50%;
        height: 28%;
        <!--border: 1px solid blue;-->
}

.GO-button{
    background:url('./img/GO-button-background.png');
    background-size: cover;
    border: none;
    width: 90%;
    height: 60px;
    cursor: pointer;
    color: transparent;
    vertical-align: bottom;/*add vertical align bottom*/
}
.text-inputs {
    width: 50%;
    float: left;
    padding: 15px;
    <!--border: 1px solid red;-->
}
.GO {
    width: 39%;
    float: left;
    padding: 15px;
    <!--border: 1px solid red;-->
}
.lock{
    float: left;
    background:url('./img/lock.png') 0 bottom repeat-x;
    width: 11%;
    height: 60px;
    }
input[type="email"],input[type="password"], textarea {

  background-color : #CCCCCC; 

}
    .more{
        font-family: Arial;
        color: #53b8c4;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        text-align: center;
    }
    .article, .inner-container p, .small-button-container p, .slider-text{
        display: block;
        font-family: NeoSans;
        color: #666666;
        font-size: 30px;
        font-weight: 400;
        margin: 0 !important;
}

.text-floor, .text-office{
font-family: NeoSans;
color: #ffffff;
font-size: 65px;
font-weight: 700;
line-height: 16px;
}
.the-floor, .the-office{
display:block;
padding-bottom: 40px;
font-family: NeoSans;
color: #ffffff;
font-size: 40px;
font-weight: 400;
line-height: 16px;    
}
.banner-text{
    position: absolute;
    margin-top: 54px;
}
@media only screen and (min-width: 767px) {
.button-container, .button-container1{
  width:49%;
}

}